:root {
  --main-bg-color: #000;
}
body {
  background-color: var(--main-bg-color);
}
.table-container {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: 2rem 5rem;
  background-color: var(--main-bg-color);
}
.table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}
.table-cell, .header-cell {
  text-align: center;
  border: 8px solid var(--main-bg-color);
  padding: 2rem;
}
.header-cell {
  background-color: #fff;
  font-size: 24px;
  cursor: auto;
  pointer-events: none;
}
.table-cell {
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
}
.table-cell.active {
  background-color: #fff;
}